*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: rgb(43, 42, 42);
}
.accordion{
    width: 805px;
    margin: auto;
    height: 320px;
    overflow: hidden;
}
.accordion li{
    width: 160px;
    height: 320px;
    display: flex;
    float: left;
    position: relative;
    border-left: 1px solid #FFF;
    transition: all .5s;
}
.accordion li img{
    height: 100%;
}
.accordion .title{
    background-color: rgba(0, 0, 0, 0.37);
    width: 640px;
    bottom: 0;
    left: 0;
    position: absolute;
}
.accordion .title a{
    text-decoration: none;
    padding: 10px;
    color: #FFF;
    font-size: large;
    font-weight: bold;
}

.accordion ul:hover li{
    width: 40px;
}
.accordion ul li:hover{
    width: 640px;
}

